*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: none;
}
/*===================header style==================*/
.header-top {
    border-bottom: 1px solid #d60c00;

}
.top-wrap {
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tnb, #gnb {
    display: flex;
    column-gap: 1rem;
}
#tnb li {
    font-size: 0.8125em;
    color: #888;
    font-weight: 500;
}
#tnb li:hover {
    color: #000;
}
.bottom-wrap {
    max-width: 900px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main-nav {
    width: 100%;
}
#gnb {
    justify-content: center;
    display: flex;
    column-gap: 1rem;
}
#gnb > li {
    position: relative;
}
#gnb > li >a {
    display: block;
    padding: 20px 15px;
}
#gnb > li:hover .lnb {
    display: block;
}
.lnb {
    display: none;
    position: absolute;
    background: #d60c00;
    width: 100%;
    color: white;
}
.lnb > li {
    text-align: center;
    padding: 15px 0;
}
.lnb > li:hover {
    background: #800600;
}
/*====hero style=====*/
#hero {
    height: 395px;
}
.hero-wrap {
    max-width: 900px;
    margin: 0 auto;
}
/*======icons style===*/
#icons {
    background: #d60c00;
}
.hot-nav {
    max-width: 900px;
    margin: 0 auto;
}
#hnb {
    display: flex;
}
 
/*=======main style===========*/
/*----------main > intro style-------*/
.article-wrap {
    max-width: 900px;
    margin: 0 auto;
}
#mind {
display: flex;
/* height: 220px;
overflow: hidden; */
margin: 30px 0 0 0;
}
.mind-cols {
    display: flex;
    color: white;
    text-align: center;
}
.mind-img, .mind-col1, .mind-col2 {
    width: 50%;
}
.mind-col1 {
    background: #DC2C34;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.mind-col1 hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: white;
}
.mind-col2 {
    background: #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mind-col2 hr {
    width: 90%;
    border: 0;
    border-top: 1px solid white;
}
.mind-cols p {
    line-height: 1.5;
}
.mind-img {
    font-size: 0;
}
.mind-img img {
    max-width: 100%;
}

/*--------------main > history-----------*/
.history {
    display: flex;
}
.history ul {
    width: 50%;
}
.history ul li {
    display: flex;
    margin: 1rem 0;
}
.history ul li p:nth-child(1) {
    margin-right: 1rem;
}

/*----------brand >partner style----*/
.brand {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    text-align: center;
}
/*--------------------main > business style--------*/

.business {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
/*--------------main > map style---------------*/
.tab-btns ul {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.tab-btns ul li {
    width: calc(33.33333333% - 20px);
    background: #d60c00;
    color: white;
    text-align: center;
}
.tab-btns ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
}
#map {
    height: 400px;
    margin: 30px 0;
}
/*--------------main > process style---------------*/
.steps .step {
    border: 3px solid gray;
    width: 180px;
    height: 180px;
    box-sizing: border-box; /*상자의 크기에 border을 포함시켜서 그리게 하는 속성*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.step .title {
    color: yellowgreen;
    text-transform: uppercase;
}
.title::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: yellowgreen;
    margin: 10px auto 0;
}
.custom-prev:before, .custom-next:before {
    color: gray !important;
}
/*---------slick custom arrows----*/
/* 
.custom-prev {
    content: '';
} */
.custom-prev,
.custom-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.custom-prev:hover:before,
.custom-prev:focus:before,
.custom-next:hover:before,
.custom-next:focus:before
{
    opacity: 1;
}
.custom-prev.slick-disabled:before,
.custom-next.slick-disabled:before
{
    opacity: .25;
}

.custom-prev:before,
.custom-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-prev
{
    left: -25px;
}
[dir='rtl'] .custom-prev
{
    right: -25px;
    left: auto;
}
.custom-prev:before
{
    content: url('../images/preArrow.png');
    /* display: block;
    width: 20px;
    height: 20px;
    background: url('../images/preArrow.png') center/cover */
}
[dir='rtl'] .custom-prev:before
{
    content: url('../images/preArrow.png');
}

.custom-next
{
    right: -25px;
}
[dir='rtl'] .custom-next
{
    right: auto;
    left: -25px;
}
.custom-next:before
{
    content: url('../images/nextArrow.png');
}
[dir='rtl'] .custom-next:before
{
    content: url('../images/nextArrow.png');
}

/*--------------main > siginin style-----*/
.tooltip {
    text-align: center;
    margin: 30px 0;
    color: salmon;
    padding: 5px 10px;
}
.form-wrap {
    width: 900px;
    /* height: 370px; */
    margin: 0 auto;
    border: 1px solid #d60c00;
    box-sizing: border-box;
    padding: 50px;

}
.form-wrap ul li{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;

}
#gubun {
    justify-content: flex-end;
}
#gubun::before {
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(216, 139, 139);
    top: -10px;

}
#userID, #userPW, #userPW2{
    width:80%;
    height: 60px;
}
.email-wrap {
    width: 80%;
    height: 60px;
}
#userEmail {
    width: 50%;
    height: 60px;
}
#emailAddr {
    width: 25%;
    text-indent: 15px;
    height: 60px;
}
#emailAuth, #phoneAuth, #uploadBtn {
    background: #d60c00;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    margin-left: 1rem;
}
#userPhone {
    width: 78%;
    height: 60px;
}
#userPhoto {
    position: absolute;
    clip: rect(0,0,0,0);
}
.phone-wrap {
    height: 60px;
    width: 80%;
}
.photo-wrap {
    width: 80%;
}
.photo-wrap label {
    padding: 15px 0;
}
#photoSrc {
    width: 78%;
    height: 60px;
}
#userInfo {
    width: 80%;
    height: auto;
}
#userID:focus, #userPW:focus {
    border: 2px solid #d60c00;
    outline: none;
}
label {
    margin-right: 1rem;
}
.btns {
    justify-content: center !important;
}

input[type=submit], input[type=reset]{
    height: 60px;
    width: 120px;
    margin: 0 0 0 100px;

    background: #d60c00;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    margin-left: 1rem;
}
/*---------------signup style-----------*/
#checkId, #checkPw {
    /* display: none; */
    position: absolute;
    right: 5%;
    background: #d60c00;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;

}
/*--------------main > about style-------*/
#main > article > h3 {
    margin: 50px 0;
    text-align: center;
    font-size: 1.375em;
    color: #d60c00;
    font-weight: 600;
    text-transform: uppercase;
}
.prd {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.prd li {
    border-radius: 50%;
    overflow: hidden;
}
#slogan {
    border-bottom: 1px solid #ccc;
}
#slogan .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    background: url(../images/visual.jpg) no-repeat 0 100%/ cover;
}
.text p {
    text-shadow: 1px 1px 10px #000;
}
.breadcrumb {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    color: #888;
    font-size: .875em;
}
.breadcrumb a:hover {
    color: #d60c00
}

/*=========aside style===*/
.aside-wrap {
    border-top: 1px solid #d60c00;
    background: #f1f1f1;
    margin: 50px 0 20px;
}
.aside-wrap > ul {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.aside-wrap li {
    font-size: 14px;
    color: #d60c00;
}
/*========footer====*/
footer {
    text-align: center;
}
footer .logo-footer {
    margin: 20px 0;
}
footer p {
    line-height: 1.8;
    font-size: 12px;
}